
/* Contenedor principal */
.main {
  flex: 1; /* Ocupa el espacio restante entre el navbar y el footer */
  padding: 1rem; /* Espaciado interno */
  min-height: calc(100vh - 120px); /* Asegura que el contenido ocupe al menos el alto de la ventana menos el espacio del navbar y footer */
  background: linear-gradient(to bottom, rgb(20, 20, 20), rgb(20, 21, 50));
  
}

/* Estilos responsivos para el contenedor principal */
@media (max-width: 768px) {
  .main {
    padding: 0.5rem; /* Reducir el padding en dispositivos más pequeños */
  }
}

